.projectTitle {
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.projectTitle > small {
    font-family: sans-serif;
    font-weight: 300;
}

.headerTitleWithLogo {
    font-family: 'Quicksand', sans-serif;
}


.gitter-chat-embed {
    top: 20%
}

.gitter-open-chat-button {
    background: #D9B310;
}

.warning {
    color: orange;
    font-style: italic;
    font-size: 95%;
}

.mainContainer {
    padding-top: 20px;
}

.container.paddingTop {
    padding-top: 60px;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
